This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [1]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = 'Yaeb2GG1b9vMjjpxgxWe'

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/ ).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [18]:
# First, import the relevant modules
import numpy as np
import pandas as pd
import requests

In [9]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned
url = "https://www.quandl.com/api/v3/datasets/FSE/AFX_X?start_date=2017-01-01&end_date=2017-12-31&api_key=Yaeb2GG1b9vMjjpxgxWe"
r = requests.get(url)
json_data = r.json()
json_data['dataset'].keys()

dict_keys(['id', 'dataset_code', 'database_code', 'name', 'description', 'refreshed_at', 'newest_available_date', 'oldest_available_date', 'column_names', 'frequency', 'type', 'premium', 'limit', 'transform', 'column_index', 'start_date', 'end_date', 'data', 'collapse', 'order', 'database_id'])

# 1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD)

In [12]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure
json_data['dataset']['column_names']

['Date',
 'Open',
 'High',
 'Low',
 'Close',
 'Change',
 'Traded Volume',
 'Turnover',
 'Last Price of the Day',
 'Daily Traded Units',
 'Daily Turnover']

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [20]:
json_data['dataset']['data'][0:5]

[['2017-12-29',
  51.76,
  51.94,
  51.45,
  51.76,
  None,
  34640.0,
  1792304.0,
  None,
  None,
  None],
 ['2017-12-28',
  51.65,
  51.82,
  51.43,
  51.6,
  None,
  40660.0,
  2099024.0,
  None,
  None,
  None],
 ['2017-12-27',
  51.45,
  51.89,
  50.76,
  51.82,
  None,
  57452.0,
  2957018.0,
  None,
  None,
  None],
 ['2017-12-22',
  51.05,
  51.5,
  50.92,
  51.32,
  None,
  71165.0,
  3641949.0,
  None,
  None,
  None],
 ['2017-12-21',
  51.16,
  51.52,
  50.9,
  51.4,
  None,
  120649.0,
  6179433.0,
  None,
  None,
  None]]

In [27]:
df = pd.DataFrame(json_data['dataset']['data'],columns=['Date','Open','High','Low','Close','Change','Traded Volume','Turnover','Last Price of the Day',
 'Daily Traded Units',
 'Daily Turnover'])

In [28]:
df.head()

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,2017-12-29,51.76,51.94,51.45,51.76,NaN,34640.0,1792304.0,None,None,None
1,2017-12-28,51.65,51.82,51.43,51.60,NaN,40660.0,2099024.0,None,None,None
2,2017-12-27,51.45,51.89,50.76,51.82,NaN,57452.0,2957018.0,None,None,None
3,2017-12-22,51.05,51.50,50.92,51.32,NaN,71165.0,3641949.0,None,None,None
4,2017-12-21,51.16,51.52,50.90,51.40,NaN,120649.0,6179433.0,None,None,None

# 2. Convert the returned JSON object into a Python Dataframe

In [32]:
df = df.set_index('Date')

In [41]:
print ('Shape of the dataset is {}'.format(df.shape))
df.head()

Shape of the dataset is (255, 10)

,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
Date,,,,,,,,,,
2017-12-29,51.76,51.94,51.45,51.76,NaN,34640.0,1792304.0,None,None,None
2017-12-28,51.65,51.82,51.43,51.60,NaN,40660.0,2099024.0,None,None,None
2017-12-27,51.45,51.89,50.76,51.82,NaN,57452.0,2957018.0,None,None,None
2017-12-22,51.05,51.50,50.92,51.32,NaN,71165.0,3641949.0,None,None,None
2017-12-21,51.16,51.52,50.90,51.40,NaN,120649.0,6179433.0,None,None,None

# 3. Calculate what the highest and lowest opening prices were for the stock in this period

In [37]:
print('The highest Opening price in 2017 is {}'.format(df['Open'].max()))
print('The lowest Opening price in 2017 is {}'.format(df['Open'].min()))

The highest Opening price in 2017 is 53.11
The lowest Opening price in 2017 is 34.0

# 4. What was the largest change in any one day (based on High and Low price)?

In [51]:
# high_low is the difference between High and Low column each day that gives the chnage in a day
df['high_low']= df['High'] - df['Low']
max_val = df['high_low'].max()
df.loc[df['high_low'] == max_val,'high_low']

Date
2017-05-11    2.81
Name: high_low, dtype: float64

In [ ]:
# The maximum change(2.81) happened on 2017-05-11

# 5. What was the largest change between any two days (based on Closing Price)

In [80]:
df = df.sort_index(axis=0) # sorted the index first

In [82]:
df.head()

,Change,Close,Daily Traded Units,Daily Turnover,High,Last Price of the Day,Low,Open,Traded Volume,Turnover,high_low,perc_change
Date,,,,,,,,,,,,
2017-01-02,NaN,35.80,None,None,35.94,None,34.99,34.99,44700.0,1590561.0,0.95,0.901917
2017-01-03,NaN,35.48,None,None,35.93,None,35.34,35.90,70618.0,2515473.0,0.59,0.824098
2017-01-04,NaN,35.19,None,None,35.51,None,34.75,35.48,54408.0,1906810.0,0.76,0.370793
2017-01-05,NaN,35.06,None,None,35.20,None,34.73,35.02,48412.0,1692326.0,0.47,0.057078
2017-01-06,NaN,35.04,None,None,35.21,None,34.91,34.91,27507.0,964046.0,0.30,1.067205

In [83]:
df['perc_change'] = df['Close'].pct_change() *100

In [85]:
print (df['perc_change'].max())
print (df['perc_change'].min())
df.loc[df['perc_change'] == df['perc_change'].max() ]

3.993055555555536
-5.769664187514079

,Change,Close,Daily Traded Units,Daily Turnover,High,Last Price of the Day,Low,Open,Traded Volume,Turnover,high_low,perc_change
Date,,,,,,,,,,,,
2017-02-01,NaN,35.94,None,None,36.0,None,34.75,34.75,85137.0,3038172.0,1.25,3.993056

In [ ]:
# The maximum change happened on 2017-02-01 with 3.99%

In [86]:
df.loc[df['perc_change'] == df['perc_change'].min() ]

,Change,Close,Daily Traded Units,Daily Turnover,High,Last Price of the Day,Low,Open,Traded Volume,Turnover,high_low,perc_change
Date,,,,,,,,,,,,
2017-08-09,NaN,41.81,None,None,43.5,None,41.64,43.5,355857.0,15003956.0,1.86,-5.769664

In [ ]:
# The minimum change happened on 2017-08-09 with -5.76%

In [88]:
df.head()

,Change,Close,Daily Traded Units,Daily Turnover,High,Last Price of the Day,Low,Open,Traded Volume,Turnover,high_low,perc_change
Date,,,,,,,,,,,,
2017-01-02,NaN,35.80,None,None,35.94,None,34.99,34.99,44700.0,1590561.0,0.95,NaN
2017-01-03,NaN,35.48,None,None,35.93,None,35.34,35.90,70618.0,2515473.0,0.59,-0.893855
2017-01-04,NaN,35.19,None,None,35.51,None,34.75,35.48,54408.0,1906810.0,0.76,-0.817362
2017-01-05,NaN,35.06,None,None,35.20,None,34.73,35.02,48412.0,1692326.0,0.47,-0.369423
2017-01-06,NaN,35.04,None,None,35.21,None,34.91,34.91,27507.0,964046.0,0.30,-0.057045

# 6. What was the average daily trading volume during this year?

In [89]:
print ('Average daily trading volume is {}'.format(df['Traded Volume'].mean()))

Average daily trading volume is 89124.33725490196

# 7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [90]:
df['Traded Volume'].median()

76286.0

In [94]:
df2 = df[['Traded Volume']]

In [98]:
df2['Traded Volume'].sort_values()

Date
2017-05-19        45.0
2017-05-29       112.0
2017-06-02       290.0
2017-05-31       522.0
2017-05-30       587.0
                ...
2017-03-24    210926.0
2017-04-20    223621.0
2017-03-29    335406.0
2017-08-09    355857.0
2017-03-22    670349.0
Name: Traded Volume, Length: 255, dtype: float64

In [99]:
median_index = int(len(df2)/2)
median_index

127

In [103]:
print ('Median value of Traded volume is ',df2.iloc[median_index,0])

Median value of Traded volume is  134965.0